<ion-view title="Follow Ups">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <form class="list">
            <label class="item item-select">
                <span class="input-label">Select</span>
                <select>
                    <option>Call Followups</option>
                    <option>Venue Visits</option>
                </select>
            </label>
        </form>
        <div>
            <p>
                Add some
                <b>HTML</b>for
                <u>flavor</u>
            </p>
        </div>
    </ion-content>
</ion-view>