<ion-view title="Home">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
      <div class="card">
        <div class="item item-stable item-text-wrap" >
         <a class="icon ion-star" style="color:#ef473a;text-align:center"> Action Alerts (4)</a>
        </div>
      </div>
        <a ui-sref="dealHunters" id="home-button1" class="button button-assertive  button-block  icon-left ion-android-person">Deal Q</a>
        <a ui-sref="leads" id="home-button2" class="button button-assertive  button-block  icon-left ion-android-call">All Leads</a>
        <a ui-sref="bookings" id="home-button3" class="button button-assertive  button-block button-outline  icon-left ion-ios-cart">Bookings</a>
        <a ui-sref="reviews" id="home-button4" class="button button-assertive  button-block button-outline  icon-left ion-ios-heart">Reviews</a>
        <a ui-sref="walkIn" id="home-button5" class="button button-assertive  button-block button-outline  button-outline icon-left ion-android-add">Walk-Ins</a>
        <a ui-sref="login" id="home-button6" class="button button-assertive  button-block button-outline icon-left ion-log-out">Log Out</a>
    </ion-content>
</ion-view>
