<ion-view title="Login">
    <ion-content overflow-scroll="true" padding="true" style="background:#DB2B27">
      <img src="img/banquetbox-logo.png" style="width:100%; >
      <div class="spacer" style="width: 300px; height: 135px;">
      </div>

        <form class="list" ng-controller="loginCtrl">
          <span style="color:#fff;font-size:1.2em;" ng-show="errormessage"> Oops! Thanks did'nt match. Try Again</span>
            <label class="item item-input">
                <span class="input-label">Login</span>
                <input type="email" placeholder="User Name" ng-model="useremail" required="required" id="j_username">
            </label>
            <label class="item item-input">
                <span class="input-label">Pass</span>
                <input type="password" placeholder="Password" ng-model="userpwd" required="required" id="j_password" type="password">
            </label>
          <button id="login-button10" class="button button-light  button-block icon-left ion-log-in" ng-click="loginsubmit()">Log In</button>
        </form>

    </ion-content>
</ion-view>
